{
    "semi": true,
    "singleQuote": false,
    "trailingComma": "none",
    "objectWrap": "collapse",
    "quoteProps": "consistent",
    "bracketSpacing": true,
    "bracketSameLine": false,
    "arrowParens": "always",
    "proseWrap": "preserve"
}
